
.header-color{
  background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right corner, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;
}
.social-links {
  display: flex;
  justify-content: space-between;
  width: 30%;
  /* margin: auto; */
  margin-top: 50px;
}

.social-links a {
  text-decoration: none;
  color:#9a9b9c;
  font-size: 20px;
  padding: 0px;
}
.social-links :hover{
  color: black;
}
.landing-grid { 
  /* background: #f4c4f3;  
background: -webkit-linear-gradient(to top, #fc67fa, #f4c4f3);  
background: linear-gradient(to top, #fc67fa, #f4c4f3);  */
  background-image: url('/images/beach2.png'); 
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  margin-top: 0%;
  width: 100%;
  height: 100%;
}
.banner-text{
  margin-left: 0;
  margin-top: 0;
  
}
.container{
  margin-top: 0%;
  margin-left: 50PX;
  position: fixed;
  width: 100%;
  height:100%;
  text-align: left !important;
}
.banner-text {
  color:black;
  margin-top:150px;
}

.res-link a{
  text-decoration: none;
  color: #9a9b9c;
}

.res-link :hover{
  color: #000000;
}
.abt-1{
  margin-top:100px;
  padding-left: 100px;
  text-align: center;
}
.about{
width:100%;
height:100%;
margin-top: 0px;
}
.align{
  text-align: left;
}
li{
  list-style-type: none;
  text-align: justify;
}
.hvr :hover{
  text-decoration: underline;
}


.view-icon {
  padding: 3vw !important;
  color: rgb(14, 4, 17) !important;
}